#a_slogen {
    color: rgb(131, 4, 4);
}

/* .p_antique, */
.pa1,
.pa2,
.pa3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.paa {
    margin-left: 4%;
}

.paa,
.a2 {
    display: flex;
    flex-direction: column;
}

.pab {
    display: flex;
}

.a2 {
    width: 18%;
}

.a {
    height: 100%;
}

#a1 {
    width: 33%;

}

#a3 {
    width: 19%;
}

#a2-1,
#a2-2 {
    width: 100%;
}

#a4 {
    width: 40%;
    margin-top: 5%;
    height: 85%;
}

#a5 {
    width: 35%;
}

#a6 {
    width: 80%;
}

#na {
    width: 20vw;
}


@media only screen and (max-width:600px) {
    #na {
        display: none;
    }

    #a1 {
        width: 50%;
    }

    #a2-1,
    #a2-2 {
        width: 40%;
    }

    #a3 {
        width: 35%;
    }

    #a4 {
        width: 60%;
    }

    #a5 {
        width: 70%;
    }

    #a6 {
        width: 100%;
    }

    #a4 #a1,
    #a2-1,
    #a2-2,
    #a3,
    #a4,
    #a5,
    #a6 {
        margin: 5%;
    }

    .p_antique,
    .pa1,
    .pa2,
    .pa3,
    .a2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;

    }

}